body{
    font-family: Sans-Serif;
    text-align: center;
    background-color: rosybrown;
}
header{
    background-color: lavender
}
aside{
    text-align: left;
    background-color: cadetblue;
    width:325px;
    length:800px;
}
article{
    text-align: left;
    width:650px;
    margin:auto;
    background-color: white;
}